.line {
  width:1000px;
  height:300;
}

.xaxis {
  font-size: 14px;
  font-weight:bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                               

}

.yaxis {
  font-size: 14px;
  font-weight:bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                               

}